body {
  margin: 0;
  background-color: rgb(138, 93, 184);
  font-family: "Roboto", Arial !important;
}
.App {
  position: relative;
  padding: 1.5rem;
  margin-top: 5rem;
  border-radius: 20px;
  background-color: white;
}


/* input */
.css-1s2u09g-control,
.css-1pahdxg-control {
  width: 100%;
}

/* input:focus */
.css-1pahdxg-control {
} 
