* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: rgb(160, 197, 236);
  font-family: "Roboto", Arial !important;
}
.App {
  position: relative;
  padding: 1.5rem;
  margin-top: 7rem;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.55);
  border-radius: 20px;
  background-color: white;
}


/* input */
.css-1s2u09g-control,
.css-1pahdxg-control {
  width: 100%;
}

/* input:focus
.css-1pahdxg-control {
}  */


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: rgb(160, 197, 236);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ccc;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(160, 197, 236);
    border-radius: 10px;
    border: 3px solid #ccc;
  }